textarea {
    resize: none;
}

.cor-azul {
    color: red;
}

.headerRegister, .header-primary {
    background: #009688;
    color: #fff;
}

.headerUpdate {
    background: #17a2b8;
    color: #fff;
}

.imgSenha:hover {
    cursor: pointer;
}